
<h2>Add to Cart</h2>
<%= form_tag '/products' do %>
    <%= text_field_tag ("product") %><br>
    <%= submit_tag "add to cart" %>
<% end %>


<% if session[:cart] != nil %>
    <h2>My Cart</h2>
    <% session[:cart].each do |product| %>
        <p><%= product %></p>
    <% end %>
<% end %>